.block {
  opacity: 0;
}

.block:hover {
  transition: opacity .2s ease;
  opacity: 0.6;
  cursor: pointer;
}

.card {
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 15px;
  width: 280px;
  height: 400px;
  background-color: white;

}

.card_block {
  display: flex;
}

.cards {
  border: 2px solid black;
  border-radius: 15px;
  width: 260px;
  height: 380px;
  margin: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;

}

.card p {
  padding-right: 10px;
}

p {
  font-size: 18px;
}

.skull {
  margin-top: 30px;
}