@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fff6e3;
}

.App {
  text-align: center;
}

main {
  width: 850px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
  margin: 35px auto;
}

h2  {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

svg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.breadcrumbs {
  padding-top: 30px;
}

.thumbnail {
  position: relative;
}

.block {
  opacity: 0;
}

.block:hover {
  transition: opacity .2s ease;
  opacity: 0.6;
  cursor: pointer;
}

.card {
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 15px;
  width: 280px;
  height: 400px;
  background-color: white;

}

.card_block {
  display: flex;
}

.cards {
  border: 2px solid black;
  border-radius: 15px;
  width: 260px;
  height: 380px;
  margin: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;

}

.card p {
  padding-right: 10px;
  padding-bottom: 5px;
}

p {
  font-size: 18px;
}

.MuiBreadcrumbs-ol, p.MuiTypography-colorTextPrimary {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
